.main-section{
    padding-left: 100px;
    padding-right: 100px;
    
    p{
        text-align: left;
        text-indent: 70px;
    }

    #bottomPara {
        padding-bottom: 20px;
    }
}

#greensboro {
    width: 600px;
    height: 300px;
}

