.main-text{
    min-width: 500px;
    min-height: 500px;
    
    header{
        position: absolute;
        top: 20px;
        left: 50%;
    }

    p{
        // no styling yet.... going to take a break tonight
    }
}